<!-- Creación del formulario -->
<div class="row">
    <div class="col-1"></div>
    <div class="card col-2">
        <div class="card-body">
            <form [formGroup] = "formGroup">
                <select class="custom-select" (change)="changeProy($event)" formControlName="proyectoid">
                    <option value="" disabled>Escoge el id del proyecto</option>
                    <option *ngFor="let proy of proyectos" [ngValue]="proy">{{proy}}</option>
                 </select>

                <div class="form-group">
                    <label for="comentario">Comentario</label>
                    <input type="text" class="form-control" name="comentario" formControlName="comentario">
                </div>
                <div class="form-group">
                    <button class="btn btn-success"  (click)="agregarComentario()" >Enviar</button>
                </div>
                <div class="form-group">
                    <h4 id="correcto"></h4>
                </div>
            </form>
        </div>
    </div>

    <!-- fotos proyectos -->
    <div class="col-8">
        <div ng-app="myApp" ng-controller="myCtrl">

         <img class="card-img-top" id="imgProyect" src="assets/img/0.jpg" alt="Card image cap">
        
        </div>
    </div>
    <div class="col-1"></div>
</div>