<div class="row">
    <div class="col-1">
    
    </div>
    <div class="col-10">
        <table class="table">
            <thead class="thead-dark text-center" (change)="mostrarRequerimientos()" >
                <tr>
                    <th scope="col">Pedido</th>
                    <th scope="col">Localidad</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Total</th>
                </tr>
            </thead>
            <tbody>

                <!-- <tr *ngFor="let categoria of categorias">
                    <td>{{categoria.NOMBRE_CATE}}</td>
                    <td>{{categoria.DATOS_CATE}}</td>
                    <td>
                    <input class="form-control" [(colorPicker)]="categoria.COLOR_CATE" [style.background]="categoria.COLOR_CATE" readonly disabled/>
                    </td>
                    <td>
                        <button class="btn btn-success" [routerLink]="['/categoria', categoria.PK_CATE]">Editar</button>
                        <button class="btn btn-danger" (click)="borrarCategoria(categoria.PK_CATE)">Borrar</button>
                    </td>
                </tr> -->
            </tbody>
        </table>
    </div>
    <div class="col-1">
    
    </div>
</div>

